<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutorials.loginekrantasarimi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yeni_icon_android_studio"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yeni_icon_android_studio_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginEkranTasarimi">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>